html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c0d0c7;
}

button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	appearance: none;
	font-family: sans-serif;
	background: white;
	border-radius: 3px;
	padding:0.5rem 1rem;
	border:0;
	cursor: pointer;
}

button:hover {
	background: lavender;
}