html,
body,
#root
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #c0d0c7;
	margin: 0;
	padding: 0;
}

svg {
	display: block;
}

.logomark {
	position: absolute; 
	top: 18px;
	left: 18px;
	width: auto;
	height: 26px;
}

.logomark:hover {
	opacity: 1;
}

@media screen and (min-width: 640px) {
	.logomark {
		top: initial;
		bottom: 28px;
		left: 34px;
	}
}

.mix {
	position: absolute;
	left: 50%;
	bottom: 10px;
	height: 48px;
	width: 80vw;
	max-width: 350px;
	border-radius: 20px 20px 0 0;
	transform: translateX(-50%);

	display: flex;
	align-items:center;
	justify-content:space-between;
	padding:0 21px 6px 16px;
}

@media screen and (min-width: 640px) {
	.mix {
		width: 398px;
		max-width: none;
	}
}

.mix--icon-sun,
.mix--icon-moon {
	flex-shrink: 0;
}

.mix--icon-sun {
	width: 13px;
	height: 13px;
	border-radius: 9999px;
	background-color: rgb(255, 206, 113);
}

.mix--icon-moon {
	color: white;
}

.mix:hover {
	opacity: 1;
}

.mix--range {
	width: 100%;
	height: 13px;
	margin: 0 16px;
	-webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.mix--range::-webkit-slider-runnable-track {
  background: black;
  height: 2px;
}

.mix--range::-moz-range-track {
  background: black;
  height: 2px;
}

.mix--range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 1px;
	margin-top: -4px;
	transform: rotate(45deg);
}

.mix--range::-moz-range-thumb {
	border: none;
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 1px;
	transform: rotate(45deg);
}

.mix--range:focus {
  outline: none;
}
